
body {
  background-color: #f2f2f2;
  text-align: center;
  font-family: Arial, sans-serif;
}


h1 {
  color: #7bb661;
}
p {
  color: #333;
}


.container {
  margin-top: 30px;
}


input {
  display: none;
}


.bubble {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color:#7bb661;
  border-radius: 50%;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
}


input:checked + .bubble {
  transform: scale(0);
  opacity: 0;
}


.bubble:hover {
  background-color: #66bb6a;
}


.refresh-btn {
  display: inline-block;
  background-color: #2e7d32;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s;
}

.note {
  margin-top: 10px;
  color: gray;
  font-size: 14px;
}


.stick-footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background:#111;
  color:#fff;
  text-align:center;
  padding:10px 0;
  font-family:Arial;
  font-size:14px;
  z-index:999;
}

