* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f7f3;
}

.cart-container {
  background: #7bb661;
  width: 380px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
}

.cart-container h2 {
  margin-bottom: 15px;
}

.cart-container p {
  margin: 5px 0;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #2e7d32;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #245c28;
}

.secondary {
  background: #4b6331;
}
