/* Reset default */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  background:#f4f4f4;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

/* Header styling */
header{
  width:100%;
  padding:15px 30px;
  background:#7bb661;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom:2px solid #7bb661;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
}

header ul{
  list-style:none;
  display:flex;
  gap:25px;
}

header a{
  text-decoration:none;
  color:#0b3d16;
  font-weight:600;
}

/*  Center the login box */
.login-box{
  width:380px;
  background:#94b86f;
  padding:30px;
  margin:auto;
  margin-top:130px; /* space below header */
  border-radius:20px;
  text-align:center;
  box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

/* Input style */
.user-box{
  text-align:left;
  margin-bottom:15px;
}

.user-box label{
  font-weight:bold;
  font-size:14px;
  color:white;
}

.user-box input{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  margin-top:5px;
  font-size:16px;
}

button{
  width:100%;
  padding:12px;
  background:#4b6331;
  color:white;
  border:none;
  border-radius:10px;
  font-size:18px;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  background:#3d5229;
}

.stick-footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background:#111;
  color:#fff;
  text-align:center;
  padding:10px 0;
  font-family:Arial;
  font-size:14px;
  z-index:999;
}

