h* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #1a1a1a;
}
.logo {
  font-weight: bold;
  font-size: 22px;
  color: #1a3e24;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  text-decoration: #ccc;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #1a3e24;
}



/*  Header / Navbar  */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(247, 243, 243);
  padding: 15px 50px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product img{
    width:130px;
    height: 130px;
}

.products{
    background-color:#7bb661;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    border-radius: 5px;

}
.product{
    text-align: center;
    background-color: lightgreen;
    width: 200px;
    padding: 20px;
}
.stick-footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background:#7bb661;
  color:#fff;
  text-align:center;
  padding:10px 0;
  font-family:Arial;
  font-size:14px;
  z-index:999;
}